/**/

body {
    background-color: #3D69A9;
    color: #AEBDD6;
    text-align: center;
}

*/
/*#first-page {
    background-color: #ffffff;
    color: #AEBDD6;
    text-align: center;
}*/

#datePanel {
    margin-top: 30px;
    /*font-size: 20px;*/
}

label{
    font-size: 18px;
}
select{
    font-size: 16px;
}

.page--blue__background {
    /*background-color: blue;*/
/*#tab1.html {*/
    background-color: #3D69A9;
}
/*.page--blue {*/
#first-page {
    color: white;
    text-align: center;    

}
#hourTab {
    /*background-color: black;*/
    
}
/*#footer {
    background-color: red;
    color: red;
}*/
.page--red__background {
    /*background-color: red;*/
        background-color: #3D69A9;

}

#resultHour {
    /*background-color: #3D69A9;*/
    margin-top: 60px;
    font-size: 40px;
    text-align: center;
}
